# .env
.env

# User Data
data/kor/
data/aus/

# Log Data
logs/

# 메모 파일
memo*.txt

# Python
__pycache__/
.venv/
venv/
*.pyc

# OS
.DS_Store

# 캐시 파일
cache/
data/stocks/cache/

# 백테스트 결과
data/results


# Streamlit secrets
.streamlit/secrets.toml
