# .env
.env

# User Data
data/kor/
data/aus/
data/coin/


# Log Data
logs/

# 메모 파일
memo*.txt

# Python
__pycache__/
.venv/
venv/
*.pyc

# OS
.DS_Store

# Cache files
cache/

# 서버에 수동으로 넣어놓음(chmod +x update.sh 충돌때문에)
update.sh