# .env
.env

# Log Data
logs/

# 메모 파일
memo*.txt

# Python
__pycache__/
.venv/
venv/
*.pyc

# OS
.DS_Store

# 캐시 파일 (자동 생성되므로 Git에서 제외)
data/stocks/cache/

# 백테스트 결과
data/results


# Streamlit secrets
.streamlit/secrets.toml
