services:
  app:
    build: .
    command: python run.py --server.port 80
    expose:
      - "80"
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
      - VIRTUAL_HOST=etf.dojason.com
      - LETSENCRYPT_HOST=etf.dojason.com
      - LETSENCRYPT_EMAIL=kimwootak@catholic.ac.kr
    volumes:
      - ./logs:/app/logs
      - ./zsettings/stocks/cache:/app/zsettings/stocks/cache
      - ./.streamlit:/app/.streamlit
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  scheduler:
    build: .
    command: python aps.py
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
    volumes:
      - ./logs:/app/logs
      - ./zsettings/stocks/cache:/app/zsettings/stocks/cache
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
