pandas
numpy
streamlit==1.50.0
streamlit-authenticator
pykrx
pymongo
APScheduler
python-dotenv
requests
beautifulsoup4
yfinance
pandas_market_calendars
croniter
cron-descriptor
flake8
watchdog
slack-sdk
